{%- if crumbs and crumbs.length %}
<nav class="breadcrumbs" aria-label="Breadcrumb">
  <div class="container">
    <ol>
      {%- for c in crumbs %}
      <li>{% if loop.last %}<span aria-current="page">{{ c.label }}</span>{% else %}<a href="{{ c.url }}">{{ c.label }}</a>{% endif %}</li>
      {%- endfor %}
    </ol>
  </div>
</nav>
{%- endif %}
