<div class="buildups">
  {%- for b in tps.differentiator.buildUps %}
  <div class="buildup">
    <h3>{{ b.title }}</h3>
    <dl>
      {%- for l in b.layers %}
      <div class="layer">
        <dt>{{ l.label }}</dt>
        <dd>{{ l.spec }}</dd>
      </div>
      {%- endfor %}
    </dl>
    <p class="note">{{ b.note }}</p>
  </div>
  {%- endfor %}
</div>
{%- if tps.differentiator.closing %}
<p class="buildup-closing">{{ tps.differentiator.closing }}</p>
{%- endif %}
