---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
{%- if not item.data.noindex and item.url and item.outputPath and item.outputPath.endsWith(".html") and not item.url.startsWith("/admin") %}
  <url>
    <loc>{{ item.url | absUrl(tps.derived.siteUrl) }}</loc>
    <lastmod>{{ item.date.toISOString() }}</lastmod>
    <changefreq>{{ "weekly" if item.url == "/" else "monthly" }}</changefreq>
    <priority>{{ "1.0" if item.url == "/" else "0.8" }}</priority>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
